@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111111;
    overflow: hidden;
    font-family: Poppins, sans-serif;
}

#smoke,
#ml,
#rt,
#neon{
    /*display: none;*/
}
/*--------------SMOKE SH*T--------------*/

#smoke{
    height: 100vh;
    background: white;
    animation: animateSmokePlay 7s forwards;
}
@keyframes animateSmokePlay {
    0%, 99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#smoke:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff0000, #ff0000, #00ff00, #00ffff, #ffff00, #00ffff);
    mix-blend-mode: color;
    pointer-events: none;
}
.smoke{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
#smoke h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    letter-spacing: 0.2em;
}
#smoke h1 span{
    opacity: 0;
    display: inline-block;
    animation: animateSmoke 1s linear forwards;
}
@keyframes animateSmoke {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
#smoke h1 span:nth-child(1){
    animation-delay: 1.3s;
    color: #ff0000;
}
#smoke h1 span:nth-child(2){
    animation-delay: 1.5s;
    color: #ff0000;
}
#smoke h1 span:nth-child(3){
    animation-delay: 1.7s;
    color: #ff0000;
}
#smoke h1 span:nth-child(4){
    animation-delay: 1.9s;
    color: #00ff00;
}
#smoke h1 span:nth-child(5){
    animation-delay: 1.5s;
}
#smoke h1 span:nth-child(6){
    animation-delay: 3s;
    color: #00ff00;
}
#smoke h1 span:nth-child(7){
    animation-delay: 3.25s;
    color: #00ff00;
}
#smoke h1 span:nth-child(8){
    animation-delay: 3.5s;
    color: #00ffff;
}
#smoke h1 span:nth-child(9){
    animation-delay: 3.9s;
    color: #00ffff;
}
#smoke h1 span:nth-child(10){
    animation-delay: 4.1s;
    color: #00ffff;
}
#smoke h1 span:nth-child(11){
    animation-delay: 4.3s;
    color: #00ff00;
}
#smoke h1 span:nth-child(12){
    animation-delay: 4.5s;
    color: #ffff00;
}
#smoke h1 span:nth-child(13){
    animation-delay: 4.7s;
    color: #ffff00;
}


/*--------------MAGIC WHEEL--------------*/

#ml{
    animation: animateWheelPlay 5s forwards;
    animation-delay: 7s;
    opacity: 0;
}
@keyframes animateWheelPlay {
    0%{
        opacity: 0;
    }
    1%, 99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1700px;
    height: 1700px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.circle span{
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background: #111111;
    overflow: hidden;
    animation: animateWL 5s cubic-bezier(.64,-.56,.36,1.56);
}
@keyframes animateWL {
    0%{
        transform: rotate(0deg);
    }
    80%, 100%{
        transform: rotate(360deg);
    }
}
.circle span:nth-child(1){
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-delay: 7s;
    background: #ffffff;
}
.circle span:nth-child(2){
    top: 150px;
    right: 150px;
    bottom: 150px;
    left: 150px;
    animation-delay: 7.2s;
}
.circle span:nth-child(3){
    top: 300px;
    right: 300px;
    bottom: 300px;
    left: 300px;
    animation-delay: 7.4s;
    background: #ffffff;
}
.circle span:nth-child(4){
    top: 450px;
    right: 450px;
    bottom: 450px;
    left: 450px;
    animation-delay: 7.6s;
}
.circle span:nth-child(5){
    top: 600px;
    right: 600px;
    bottom: 600px;
    left: 600px;
    animation-delay: 7.8s;
    background: #ffffff;
}
.circle span:nth-child(6){
    top: 750px;
    right: 750px;
    bottom: 750px;
    left: 750px;
    animation-delay: 8s;
}
.circle span:before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 21em;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}
.circle span:nth-child(odd):before{
    color: #222222;
}
.circle span:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5),
    inset 0 0 75px rgba(0,0,0,.5),
    inset 0 0 100px rgba(0,0,0,.5),
    inset 0 0 125px rgba(0,0,0,.5);
}


/*--------------ROLLING TEXT--------------*/

#rt{
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    animation: animateTextPlay 7s forwards;
    animation-delay: 12s;
    opacity: 0;
}
@keyframes animateTextPlay {
    0%{
        opacity: 0;
    }
    1%, 99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#rt .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#rt .container .box{
    transform-style: preserve-3d;
    animation: animate3d 5s linear infinite;
}
@keyframes animate3d {
    0%{
        transform: perspective(1000px) rotateX(0deg) rotate(20deg);
    }
    100%{
        transform: perspective(1000px) rotateX(360deg) rotate(20deg);
    }
}
#rt .container .box span{
    padding: 0 10px;
    position: absolute;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.25), transparent);
    color: #ffffff;
    font-size: 8em;
    font-weight: 900;
    line-height: 0.8em;
    white-space: nowrap;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(260px);
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
#rt .container .box span i:nth-child(1){
    font-style: initial;
    color: #00ff00;
    filter: blur(5px);
}
#rt .container .box span i:nth-child(2){
    font-style: initial;
    color: #00ffff;
    filter: blur(5px);
}
#rt .container .box span i:nth-child(3){
    font-style: initial;
    color: #ff0000;
    filter: blur(5px);
}


/*--------------ROLLING TEXT--------------*/

#neon{
    transform: translateY(-200%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    animation: animateNeonPlay 8s forwards;
    animation-delay: 19s;
    opacity: 0;
}
@keyframes animateNeonPlay {
    0%{
        opacity: 0;
    }
    1%, 99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#neon .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 300px;
}
#neon .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    animation: animateTopLayer 8s linear infinite;
    animation-delay: 19s;
}
@keyframes animateTopLayer {
    0%, 2.5%{
        transform: translateX(0);
    }
    5%{
        transform: translateX(0);
    }
    45%{
        transform: translateX(100%);
    }
    47.5%, 50%{
        transform: translateX(100%);
    }
    50.001%, 52.5%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-100%);
    }
    95%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}
#neon .box h2{
    color: #ffffff;
    font-size: 7em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #4dff03,
    0 0 20px #4dff03,
    0 0 40px #4dff03,
    0 0 80px #4dff03,
    0 0 120px #4dff03;
}
#neon .box .lightbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    z-index: 2;
    box-shadow: 0 0 10px #4dff03,
    0 0 20px #4dff03,
    0 0 40px #4dff03,
    0 0 80px #4dff03,
    0 0 120px #4dff03;
    animation: animateLightbar 4s linear infinite;
    animation-delay: 19s;
}
@keyframes animateLightbar {
    0%, 5%{
        transform: scaleY(0) translateX(0);
    }
    10%{
        transform: scaleY(1) translateX(0);
    }
    90%{
        transform: scaleY(1) translateX(calc(900px - 10px));
    }
    95%, 100%{
        transform: scaleY(0) translateX(calc(900px - 10px));
    }
}


/*--------------GLITCH--------------*/

#glitch{
    transform: translateY(-300%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
    animation: animateGlitchPlay 10s forwards;
    animation-delay: 27s;
    opacity: 0;
}
@keyframes animateGlitchPlay {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.glitch{
    position: relative;
    font-size: 20em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0.03em 0 0 rgba(255, 0, 0, .75),
    -0.015em -0.03em 0 rgba( 0, 255, 0, .75),
    0 0.015em 0 rgba( 0, 0, 255, .75);
    animation: animateGlitch 500ms infinite;
    pointer-events: none;
}
.glitch span{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
}
.glitch span:nth-child(1){
    animation: animateGlitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.01em, -0.0115em);
}
.glitch span:nth-child(2){
    animation: animateGlitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.013em, 0.0115em);
}
@keyframes animateGlitch {
    0%, 14%{
        text-shadow: 0.03em 0 0 rgba(255, 0, 0, .75),
        -0.015em -0.03em 0 rgba( 0, 255, 0, .75),
        0 0.015em 0 rgba( 0, 0, 255, .75);
    }
    15%, 49%{
        text-shadow: -0.03em -0.015em 0 rgba(255, 0, 0, .75),
        0.015em 0.015em 0 rgba( 0, 255, 0, .75),
        -0.03em -0.03em 0 rgba( 0, 0, 255, .75);
    }
    50%, 99%{
        text-shadow: 0.015em 0.03em 0 rgba(255, 0, 0, .75),
        0.03em 0 0 rgba( 0, 255, 0, .75),
        0 -0.03em 0 rgba( 0, 0, 255, .75);
    }
    100%{
        text-shadow: -0.015em 0 0 rgba(255, 0, 0, .75),
        -0.015em -0.015em 0 rgba( 0, 255, 0, .75),
        -0.015em -0.03em 0 rgba( 0, 0, 255, .75);
    }

}