*{
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}
html, body{
	height: 100%;
}
body{
	font-size: 1.11vw;
	min-width: 22.22vw;
	position: relative;
	line-height: 2.08vw;
	font-family: roboto, sans-serif;
	overflow-x: hidden;
	opacity: 1;
	color: #333333;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.text-center{
	text-align: center;
}