@import "fonts";
@import "libs";
@import "base";
@import "vars";


// Пользовательские стили

.wrapper{
  margin: 0 auto;
  max-width: 81.25vw;
}

.header{
  margin-top: 0.48vw;
  padding: 1.18vw 0;
  position: relative;
  display: flex;
  align-items: center;
  &-logo{
    display: block;
  }
    &_icon{
      width: 100%;
      overflow: hidden;
  }
}

.main_nav{
  &-list{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    &__item{
      padding-left: 2.08vw;
      & a{
        text-decoration: none;
        font-weight: 500;
        color: #333333;
      }
    }
  }
}

.header-premium{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  & a{
    text-decoration: none;
    color: #333333;
    font-weight: 400;
    margin-right: 0.62vw;

  }
  & svg{
    width: 0.97vw;
    height: 0.97vw;
    fill: $accent;
    cursor: pointer;
  }
  &__credits{
    color: $accent;
    font-weight: 500;
    margin: 0 1.32vw;
    cursor: pointer;
  }
  &__avatar{
    margin-right: 1.11vw;
    width: 2.77vw;
    height: 2.77vw;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    & img{
      height: 100%;
    }
  }
}

.slider{
  background-color: $gray;
  padding: 1.38vw 0;
  &-list{
    display: flex !important;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    & img{
      height: 9.72vw;
    }
  }
}

.users{
  background-color: $gray;
  padding-top: 2.77vw;
  padding-bottom: 4.16vw;
  & .tab-wrap{
  }
  & .nav-tab-list{
    width: 28.12vw;
    margin: 0 0 2.08vw;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    border: 1px solid $accent;
    border-radius: 0.34vw;
    &__item{
      width: 33%;
      font-weight: 500;
      display: flex;
      justify-content: center;
      &.active, &:hover{
        background-color: $accent;
        & .nav-tab-list__link{
          color: $gray;
        }
      }
      & .nav-tab-list__link{
        text-decoration: none;
        color: $accent;
        letter-spacing: 0.8px;
      }
    }
  }
}

.box-tab-users{
  position: relative;
  & .tab-users{
    opacity: 1;
    transition: opacity .4s;
    &.hidden{
      opacity: 0;
    }
  }
  & .hidden{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
  }
}

.users-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item{
    width: 18.75vw;
    position: relative;
    border-radius: 10px;
    margin-bottom: 2.08vw;
  }
  &__img{
    position: relative;
    & .users-list__link{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
    & img{
      display: block;
      width: 100%;
    }
  }
  &__photo{
    max-width: 4.86vw;
    padding: 0.41vw 0.69vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    & svg{
      width: 1.45vw;
      height: 1.18vw;
      fill: #ffffff;
      margin-right: 0.34vw;
    }
    & span{
      font-size: 0.97vw;
      font-weight: 400;
      line-height: 1.38vw;
      color: #ffffff;
    }
  }
  &__top{
    max-width: 4.86vw;
    padding: 0.41vw 0.69vw;
    position: absolute;
    top: 1vw;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $pink;
    border-radius: 5px;
    font-size: 0.97vw;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__buttons{
    width: 100%;
    padding: 0;
    background-image: $accent_grad;
    display: flex;
    align-items: center;
    justify-content: center;
    & .btn-fav,
    .btn-unfav,
    .btn-write{
      width: calc(50% - 1px);
      padding: 0.69vw 1.04vw;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      font-size: 0.97vw;
      font-weight: 400;
      line-height: 20px;
      color: #ffffff;
      cursor: pointer;
      opacity: 1;
      }
      &.hide{
        opacity: 0;
      }
      & svg{
        width: 1.31vw;
        height: 1.25vw;
        margin-right: 0.62vw;
        fill: #ffffff;
      }
    & .hide{
      display: none;
    }
    & .btn-fav{
      padding-right: 0.5vw;
      padding-left: 0.5vw;
    }
    &:last-child svg{
      width: 1.31vw;
      height: 1.25vw;
      fill: $yellow;
    }
  }
  &__footer{
    background-color: #ffffff;
    padding: 0.7vw 1.31vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    & a{
      text-decoration: none;
      color: #366cf7;
      font-size: 1.25vw;
      font-weight: 500;
      letter-spacing: 0.9px;
      &:after{
        display: inline-block;
        margin-bottom: 1px;
        margin-left: 0.34vw;
        content: '';
        width: 0.69vw;
        height: 0.69vw;
        background-color: $green;
        border-radius: 50%;
      }
    }
    & p{
      margin: 0;
      color: #333333;
      font-size: 0.97vw;
      font-weight: 400;
      letter-spacing: 0.7px;
    }
  }
  .users-list__item:nth-of-type(4),
  .users-list__item:nth-of-type(6),
  .users-list__item:nth-of-type(7),
  .users-list__item:nth-of-type(8){
    & .users-list__footer{
      & a:after{
        display: none;
      }
    }
  }
}

.page-number{
  width: 21.52vw;
  margin: 1.38vw auto 0;
  padding: 0.4vw;
  border-radius: 5px;
  background-color: #ffffff;
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    justify-content: center;
    width: 2.08vw;
    & a{
      text-decoration: none;
      font-size: 1.11vw;
      font-weight: 400;
      color: #999999;
      & svg{
        width: 1.5vw;
        height: 0.9vw;
        fill: #999999;
      }
    }
    &:first-of-type{
      & a{
        & svg{
          transform: rotate(180deg);
        }
      }
    }
    &.active, &:hover{
      background-color: $accent;
      border-radius: 5px;
      & a{
        color: #ffffff;
        & svg {
          fill: #ffffff;
        }
      }
    }
  }
}

.footer{
  background-color: #ffffff;
  padding: 2.77vw 0;
  &-nav{
    margin-bottom: 2vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__item{
      margin-right: 3.47vw;
      & a{
        text-decoration: none;
        font-size: 0.97vw;
        font-weight: 500;
        color: $footer_text;
        letter-spacing: 0.7px;
      }
    }
  }
  &-copy{
    font-size: 0.83vw;
    font-weight: 400;
    letter-spacing: 0.6px;
  }
}




